.grid-container {
  display: grid;
  grid-gap: 2px 5px;
  grid-template-columns: auto auto auto;
}

.grid-item {
  max-width: 30rem;
  max-height: 30rem;
  box-shadow: 1px 1px 1rem 1px rgb(149, 147, 147);
  text-align: center;
}

.profile-post-img {
  max-width: 10rem;
}
