.post-form {
  max-width: 35rem;
  box-shadow: 0.5px 0.5px 0.8rem 0.5px rgb(148, 144, 144);
  margin: 0px auto 3rem auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 4px;
  background-color: #fbfbfb;
}

.post-form h1 {
  font-size: 3rem;
  text-align: center;
}

.post-form textarea,
.post-form select,
.post-form input {
  margin-bottom: 1rem;
  height: 3rem;
  background-color: #fbfbfb;
}

.post-form p {
  margin-bottom: -1px;
  font-size: 1.3rem;
  color: rgb(61, 6, 6);
}

.get-location {
  box-shadow: 0.5px 0.5px 0.8rem 0.5px rgb(148, 144, 144);
  padding: 5px 0px 5px 4px;
  cursor: pointer;
}

.post-form input {
  border: none;
  border-bottom: 2px solid rgb(71, 17, 187);
}

.post-form textarea {
  width: 100%;
  height: 7rem;
  resize: none;
}

input:focus,
.post-form textarea:focus {
  outline: none;
}

.post-form button {
  border-style: none;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: box-shadow 0.5s;
  overflow: hidden;
}

.post-form button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(74, 62, 62);
  cursor: pointer;
}

.post-form .btn-reset {
  background-color: rgb(188, 36, 36);
}

.post-form .btn-submit {
  background-color: rgb(26, 130, 95);
  color: aliceblue;
}

.map {
  height: 15rem;
  width: 100%;
  margin-bottom: 10px;
}

.error-box {
  position: sticky;
  width: fit-content;
  margin: auto;
  right: 0;
  left: 0;
  top: 10vh;
  display: flex;
  justify-content: end;
  background-color: rgb(48, 44, 44, 0.8);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  align-items: center;
  margin-bottom: 5px;
}
.error-box h1 {
  height: 1rem;
  margin-top: -22px;
  margin-left: 20px;
  cursor: pointer;
}
