.comment-section {
  max-width: 800px;
  margin: 2rem auto;
  display: flex;
}

.comment-section > * {
  flex: 1;
}

.reviews {
  margin: 1rem auto;
  border-bottom: 2px solid black;
}
.view-comments p {
  margin-bottom: 1rem;
}

.view-comments span {
  font-weight: bold;
  font-size: 1.2rem;
}

.post-details {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0.5rem;
}

.top-name-message {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 2rem;
}

.top-name-message button {
  color: rgb(255, 255, 255);
  background-color: rgb(10, 118, 10);
}

.detail-img {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1rem;
  text-align: center;
}

.detail-img img {
  max-width: 600px;
  width: 100%;
  height: 35vh;
  margin-bottom: 2rem;
}

.title-booking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title-section {
  text-align: center;
  line-height: 2.5rem;
}

.title-section h1 {
  color: rgb(49, 19, 184);
}

.geo-location {
  height: 25vh;
  text-align: center;
  font-size: large;
}

.discription,
.booked-info {
  max-width: 800px;
  font-size: 1.4rem;
  text-align: justify;
  margin-bottom: 1rem;
}

.discription {
  word-spacing: 0.3rem;
  line-height: 2.5rem;
}
.booked-info {
  max-width: 300px;
  background-color: rgba(210, 39, 39, 0.5);
  padding: 1rem;
}

.facilities {
  margin: 1rem 0px;
}

.tags {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}

.tags p {
  background-color: rgb(143, 181, 182);
  margin: 2px;
  padding: 0.7rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 1rem;
}

.recommended-posts {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  margin: 1.5rem 0px;
  width: 30%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  text-align: center; */
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
  text-align: center;
}

.recommended-post {
  max-width: 25rem;
  box-shadow: 2px 2px 2px rgb(221, 217, 217);
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.recommend-img {
  width: 100%;
  height: 12vh;
  margin-bottom: 0.5rem;
}

.post-details button {
  color: white;
  background-color: rgb(61, 46, 197);
}

.post-details button:hover {
  cursor: pointer;
  box-shadow: rgb(62, 57, 57) 0px 1px 3px 0px;
  border-radius: 5px;
}

@media all and (max-width: 750px) {
  .recommended-posts {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
  }
}
