*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 10px;
  background-image: url("../../images/white.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  max-width: 1200px;
  margin: 0px auto;
}

.nav-logo {
  width: 8rem;
}

.profile-image {
  background-color: darkgray;
  text-align: center;
  font-weight: bold;
  width: 4rem;
  border-radius: 100%;
}

a {
  text-decoration: none;
}

.nav-bar {
  display: flex;
  align-items: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.left-nav {
  flex: 2;
}

.right-nav {
  flex: 1;
}

.right-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signin-btn {
  border-style: none;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: bold;
  transition: box-shadow 0.5s ease-in-out, color 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
  background-color: rgb(189, 188, 188);
  color: rgb(255, 255, 255);
  height: 3rem;
  padding: 0 2rem;
}

.signin-btn:hover {
  color: rgb(98, 96, 96);
  background-color: rgb(204, 203, 203);
}
