*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 10px;
}

.nav-logo {
  width: 8rem;
}

.profile-image {
  width: 4rem;
  border-radius: 100%;
}

a {
  text-decoration: none;
}

.nav-bar {
  display: flex;
  font-size: 2rem;
}

.left-nav {
  flex: 2;
}

.right-nav {
  flex: 1;
}

.right-nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.signin-btn {
  width: 100%;
  font-size: 2rem;
  border-radius: 0.5rem;
  border-style: none;
  font-weight: bold;
  background-color: rgb(144, 214, 153);
}
